
<input type="text" [(ngModel)] = "title">
{{ title }}

<input type="text" [(ngModel)] = "power">
{{ power | exponential }}

<div *ngIf="title === 'Hola mundo'">
  Hola Fernando
</div>

<div *ngIf="title === 'Hola tú'">
  Hola Camilo
</div>

<div *ngIf="title === 'Q hubo'">
  Hola Juliana
</div>

<div [ngSwitch]="title">
  <div *ngSwitchCase="'Hola mi switch'">Hola Fernando</div>
  <div *ngSwitchCase="'Cómo estás?'">Hola Camilo</div>
  <div *ngSwitchCase="'Q hace'">Hola Juliana</div>
  <div *ngSwitchDefault>¿Quién eres?</div>
</div>

<button (click)="addName([title])">Add item</button>

<ul>
  <li *ngIf="listaNombres.length === 0">
    La lista está vacía
  </li>
  <li *ngFor="let name of listaNombres; index as i">
    {{ name }} {{ i }}
    <button (click)="deleteItem(i)">Delete name</button>
  </li>
</ul>